@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 16px;
  }

  @font-face {
    font-family: 'Mulish';
    src: local('Mulish'), url('/fonts/Mulish-Regular.ttf') format('truetype');
  }

  input[type='number']::-webkit-outer-spin-button,
        input[type='number']::-webkit-inner-spin-button,
        input[type='number'] {
          -webkit-appearance: none;
          margin: 0;
          -moz-appearance: textfield !important;
        }
}